<table cellspacing='0' class='rates' id='rates'>
<thead>
<tr>
<th class='note' colspan='2'>Prices will be charged in United States Dollars</th>
<th class='rack_rate'></th>
<th class='date'>
<span class='day_name'>Tue</span>
<span class='day'>09</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Wed</span>
<span class='day'>10</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Thu</span>
<span class='day'>11</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Fri</span>
<span class='day'>12</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date start weekend'>
<span class='day_name'>Sat</span>
<span class='day'>13</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date end weekend'>
<span class='day_name'>Sun</span>
<span class='day'>14</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Mon</span>
<span class='day'>15</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Tue</span>
<span class='day'>16</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Wed</span>
<span class='day'>17</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Thu</span>
<span class='day'>18</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Fri</span>
<span class='day'>19</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date start weekend'>
<span class='day_name'>Sat</span>
<span class='day'>20</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date end weekend'>
<span class='day_name'>Sun</span>
<span class='day'>21</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>
<th class='date'>
<span class='day_name'>Mon</span>
<span class='day'>22</span>
<span class='month'>Jul</span>
<span class='year'>2019</span>
</th>

</tr>
</thead>
<tbody>
<tr>
<td class='room_name'>
<p>Habitación Economy Standard </p>
<a rel=".photo_overlay[data-id=room_107199]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107199">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124780447'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124780448'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124780449'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124780450'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate start weekend' data-id='124780451'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-13">30</a>
</td>
<td class='end rate weekend' data-id='124780452'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-14">30</a>
</td>
<td class='rate' data-id='124780453'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-15">30</a>
</td>
<td class='rate' data-id='124780454'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-16">30</a>
</td>
<td class='rate' data-id='124780455'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-17">30</a>
</td>
<td class='rate' data-id='124780456'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-18">30</a>
</td>
<td class='rate' data-id='124780457'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-19">30</a>
</td>
<td class='rate start weekend' data-id='124780458'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-20">30</a>
</td>
<td class='end rate weekend' data-id='124780459'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-21">30</a>
</td>
<td class='rate' data-id='124780460'>
<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-22">30</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>One Bedroom Apartment Standard</p>
<a rel=".photo_overlay[data-id=room_107215]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107215">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124792143'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-09">45</a>
</td>
<td class='rate' data-id='124792144'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-10">45</a>
</td>
<td class='rate' data-id='124792145'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-11">45</a>
</td>
<td class='rate' data-id='124792146'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-12">45</a>
</td>
<td class='rate start weekend' data-id='124792147'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-13">45</a>
</td>
<td class='end rate weekend' data-id='124792148'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-14">45</a>
</td>
<td class='rate' data-id='124792149'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-15">45</a>
</td>
<td class='rate' data-id='124792150'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-16">45</a>
</td>
<td class='rate' data-id='124792151'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-17">45</a>
</td>
<td class='rate' data-id='124792152'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-18">45</a>
</td>
<td class='rate' data-id='124792153'>
<a href="/reservations/resielbalatadirect/107215?locale=en&amp;start_date=2019-07-19">45</a>
</td>
<td class='rate start weekend' data-id='124792154'>
<span class='unavailable'>Sold</span>
</td>
<td class='end rate weekend' data-id='124792155'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124792156'>
<span class='unavailable'>Sold</span>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Apartamento con terraza Standard </p>
<a rel=".photo_overlay[data-id=room_107218]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107218">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124794336'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-09">100</a>
</td>
<td class='rate' data-id='124794337'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-10">100</a>
</td>
<td class='rate' data-id='124794338'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-11">100</a>
</td>
<td class='rate' data-id='124794339'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-12">100</a>
</td>
<td class='rate start weekend' data-id='124794340'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-13">100</a>
</td>
<td class='end rate weekend' data-id='124794341'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-14">100</a>
</td>
<td class='rate' data-id='124794342'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-15">100</a>
</td>
<td class='rate' data-id='124794343'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-16">100</a>
</td>
<td class='rate' data-id='124794344'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-17">100</a>
</td>
<td class='rate' data-id='124794345'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-18">100</a>
</td>
<td class='rate' data-id='124794346'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-19">100</a>
</td>
<td class='rate start weekend' data-id='124794347'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-20">100</a>
</td>
<td class='end rate weekend' data-id='124794348'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-21">100</a>
</td>
<td class='rate' data-id='124794349'>
<a href="/reservations/resielbalatadirect/107218?locale=en&amp;start_date=2019-07-22">100</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Two Bedroom Apartment 4 pax Standard </p>
<a rel=".photo_overlay[data-id=room_107216]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107216">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124792874'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-09">75</a>
</td>
<td class='rate' data-id='124792875'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-10">75</a>
</td>
<td class='rate' data-id='124792876'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-11">75</a>
</td>
<td class='rate' data-id='124792877'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate start weekend' data-id='124792878'>
<span class='unavailable'>Sold</span>
</td>
<td class='end rate weekend' data-id='124792879'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-14">75</a>
</td>
<td class='rate' data-id='124792880'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-15">75</a>
</td>
<td class='rate' data-id='124792881'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-16">75</a>
</td>
<td class='rate' data-id='124792882'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-17">75</a>
</td>
<td class='rate' data-id='124792883'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-18">75</a>
</td>
<td class='rate' data-id='124792884'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-19">75</a>
</td>
<td class='rate start weekend' data-id='124792885'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-20">75</a>
</td>
<td class='end rate weekend' data-id='124792886'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-21">75</a>
</td>
<td class='rate' data-id='124792887'>
<a href="/reservations/resielbalatadirect/107216?locale=en&amp;start_date=2019-07-22">75</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Two Bedroom Apartment 6 pax Standard </p>
<a rel=".photo_overlay[data-id=room_107217]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107217">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124793605'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124793606'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-10">85</a>
</td>
<td class='rate' data-id='124793607'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124793608'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate start weekend' data-id='124793609'>
<span class='unavailable'>Sold</span>
</td>
<td class='end rate weekend' data-id='124793610'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124793611'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-15">85</a>
</td>
<td class='rate' data-id='124793612'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-16">85</a>
</td>
<td class='rate' data-id='124793613'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-17">85</a>
</td>
<td class='rate' data-id='124793614'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-18">85</a>
</td>
<td class='rate' data-id='124793615'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-19">85</a>
</td>
<td class='rate start weekend' data-id='124793616'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-20">85</a>
</td>
<td class='end rate weekend' data-id='124793617'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-21">85</a>
</td>
<td class='rate' data-id='124793618'>
<a href="/reservations/resielbalatadirect/107217?locale=en&amp;start_date=2019-07-22">85</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Habitación Family Standard </p>
<a rel=".photo_overlay[data-id=room_107206]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107206">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107206?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124785564'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124785565'>
<a href="/reservations/resielbalatadirect/107206?locale=en&amp;start_date=2019-07-10">35</a>
</td>
<td class='rate' data-id='124785566'>
<a href="/reservations/resielbalatadirect/107206?locale=en&amp;start_date=2019-07-11">35</a>
</td>
<td class='rate' data-id='124785567'>
<a href="/reservations/resielbalatadirect/107206?locale=en&amp;start_date=2019-07-12">35</a>
</td>
<td class='rate start weekend' data-id='124785568'>
<a href="/reservations/resielbalatadirect/107206?locale=en&amp;start_date=2019-07-13">35</a>
</td>
<td class='end rate weekend' data-id='124785569'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124785570'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124785571'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124785572'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124785573'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124785574'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate start weekend' data-id='124785575'>
<span class='unavailable'>Sold</span>
</td>
<td class='end rate weekend' data-id='124785576'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124785577'>
<a href="/reservations/resielbalatadirect/107206?locale=en&amp;start_date=2019-07-22">35</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Habitación Standard Standard </p>
<a rel=".photo_overlay[data-id=room_107209]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107209">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124787757'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-09">35</a>
</td>
<td class='rate' data-id='124787758'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-10">35</a>
</td>
<td class='rate' data-id='124787759'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-11">35</a>
</td>
<td class='rate' data-id='124787760'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-12">35</a>
</td>
<td class='rate start weekend' data-id='124787761'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-13">35</a>
</td>
<td class='end rate weekend' data-id='124787762'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-14">35</a>
</td>
<td class='rate' data-id='124787763'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-15">35</a>
</td>
<td class='rate' data-id='124787764'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-16">35</a>
</td>
<td class='rate' data-id='124787765'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-17">35</a>
</td>
<td class='rate' data-id='124787766'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-18">35</a>
</td>
<td class='rate' data-id='124787767'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-19">35</a>
</td>
<td class='rate start weekend' data-id='124787768'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-20">35</a>
</td>
<td class='end rate weekend' data-id='124787769'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-21">35</a>
</td>
<td class='rate' data-id='124787770'>
<a href="/reservations/resielbalatadirect/107209?locale=en&amp;start_date=2019-07-22">35</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Habitación Panoramic Standard</p>
<a rel=".photo_overlay[data-id=room_107201]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107201">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124781909'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-09">35</a>
</td>
<td class='rate' data-id='124781910'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-10">35</a>
</td>
<td class='rate' data-id='124781911'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-11">35</a>
</td>
<td class='rate' data-id='124781912'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-12">35</a>
</td>
<td class='rate start weekend' data-id='124781913'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-13">35</a>
</td>
<td class='end rate weekend' data-id='124781914'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124781915'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124781916'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124781917'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124781918'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-18">35</a>
</td>
<td class='rate' data-id='124781919'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-19">35</a>
</td>
<td class='rate start weekend' data-id='124781920'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-20">35</a>
</td>
<td class='end rate weekend' data-id='124781921'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-21">35</a>
</td>
<td class='rate' data-id='124781922'>
<a href="/reservations/resielbalatadirect/107201?locale=en&amp;start_date=2019-07-22">35</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Loft Romántica Standard </p>
<a rel=".photo_overlay[data-id=room_107210]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107210">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124788488'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-09">45</a>
</td>
<td class='rate' data-id='124788489'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-10">45</a>
</td>
<td class='rate' data-id='124788490'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-11">45</a>
</td>
<td class='rate' data-id='124788491'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-12">45</a>
</td>
<td class='rate start weekend' data-id='124788492'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-13">45</a>
</td>
<td class='end rate weekend' data-id='124788493'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-14">45</a>
</td>
<td class='rate' data-id='124788494'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-15">45</a>
</td>
<td class='rate' data-id='124788495'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-16">45</a>
</td>
<td class='rate' data-id='124788496'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-17">45</a>
</td>
<td class='rate' data-id='124788497'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-18">45</a>
</td>
<td class='rate' data-id='124788498'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-19">45</a>
</td>
<td class='rate start weekend' data-id='124788499'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-20">45</a>
</td>
<td class='end rate weekend' data-id='124788500'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-21">45</a>
</td>
<td class='rate' data-id='124788501'>
<a href="/reservations/resielbalatadirect/107210?locale=en&amp;start_date=2019-07-22">45</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Loft Quádruple Standard </p>
<a rel=".photo_overlay[data-id=room_107211]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107211">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124789219'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-09">55</a>
</td>
<td class='rate' data-id='124789220'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-10">55</a>
</td>
<td class='rate' data-id='124789221'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-11">55</a>
</td>
<td class='rate' data-id='124789222'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-12">55</a>
</td>
<td class='rate start weekend' data-id='124789223'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-13">55</a>
</td>
<td class='end rate weekend' data-id='124789224'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-14">55</a>
</td>
<td class='rate' data-id='124789225'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-15">55</a>
</td>
<td class='rate' data-id='124789226'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-16">55</a>
</td>
<td class='rate' data-id='124789227'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-17">55</a>
</td>
<td class='rate' data-id='124789228'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-18">55</a>
</td>
<td class='rate' data-id='124789229'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-19">55</a>
</td>
<td class='rate start weekend' data-id='124789230'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-20">55</a>
</td>
<td class='end rate weekend' data-id='124789231'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-21">55</a>
</td>
<td class='rate' data-id='124789232'>
<a href="/reservations/resielbalatadirect/107211?locale=en&amp;start_date=2019-07-22">55</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Deluxe Rústica Standard</p>
<a rel=".photo_overlay[data-id=room_107212]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107212">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124789950'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-09">55</a>
</td>
<td class='rate' data-id='124789951'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-10">55</a>
</td>
<td class='rate' data-id='124789952'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-11">55</a>
</td>
<td class='rate' data-id='124789953'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-12">55</a>
</td>
<td class='rate start weekend' data-id='124789954'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-13">55</a>
</td>
<td class='end rate weekend' data-id='124789955'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-14">55</a>
</td>
<td class='rate' data-id='124789956'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-15">55</a>
</td>
<td class='rate' data-id='124789957'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-16">55</a>
</td>
<td class='rate' data-id='124789958'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-17">55</a>
</td>
<td class='rate' data-id='124789959'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-18">55</a>
</td>
<td class='rate' data-id='124789960'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-19">55</a>
</td>
<td class='rate start weekend' data-id='124789961'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-20">55</a>
</td>
<td class='end rate weekend' data-id='124789962'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-21">55</a>
</td>
<td class='rate' data-id='124789963'>
<a href="/reservations/resielbalatadirect/107212?locale=en&amp;start_date=2019-07-22">55</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Deluxe Caribe Standard </p>
<a rel=".photo_overlay[data-id=room_107213]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107213">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124790681'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-09">55</a>
</td>
<td class='rate' data-id='124790682'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-10">55</a>
</td>
<td class='rate' data-id='124790683'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-11">55</a>
</td>
<td class='rate' data-id='124790684'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-12">55</a>
</td>
<td class='rate start weekend' data-id='124790685'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-13">55</a>
</td>
<td class='end rate weekend' data-id='124790686'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-14">55</a>
</td>
<td class='rate' data-id='124790687'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-15">55</a>
</td>
<td class='rate' data-id='124790688'>
<span class='unavailable'>Sold</span>
</td>
<td class='rate' data-id='124790689'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-17">55</a>
</td>
<td class='rate' data-id='124790690'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-18">55</a>
</td>
<td class='rate' data-id='124790691'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-19">55</a>
</td>
<td class='rate start weekend' data-id='124790692'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-20">55</a>
</td>
<td class='end rate weekend' data-id='124790693'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-21">55</a>
</td>
<td class='rate' data-id='124790694'>
<a href="/reservations/resielbalatadirect/107213?locale=en&amp;start_date=2019-07-22">55</a>
</td>
</tr>
<tr>
<td class='room_name'>
<p>Deluxe Jardín Standard </p>
<a rel=".photo_overlay[data-id=room_107214]" class="photos" href="#">Photos</a>
<a class="details" href="#room_107214">Details</a>
</td>
<td class='book_now'>
<a class="book dynamic en" href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-09"><span class='fa fa-chevron-circle-right'></span>
Book
</a></td>
<td class='rack_rate'>$</td>
<td class='rate' data-id='124791412'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-09">55</a>
</td>
<td class='rate' data-id='124791413'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-10">55</a>
</td>
<td class='rate' data-id='124791414'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-11">55</a>
</td>
<td class='rate' data-id='124791415'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-12">55</a>
</td>
<td class='rate start weekend' data-id='124791416'>
<span class='unavailable'>Sold</span>
</td>
<td class='end rate weekend' data-id='124791417'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-14">55</a>
</td>
<td class='rate' data-id='124791418'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-15">55</a>
</td>
<td class='rate' data-id='124791419'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-16">55</a>
</td>
<td class='rate' data-id='124791420'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-17">55</a>
</td>
<td class='rate' data-id='124791421'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-18">55</a>
</td>
<td class='rate' data-id='124791422'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-19">55</a>
</td>
<td class='rate start weekend' data-id='124791423'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-20">55</a>
</td>
<td class='end rate weekend' data-id='124791424'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-21">55</a>
</td>
<td class='rate' data-id='124791425'>
<a href="/reservations/resielbalatadirect/107214?locale=en&amp;start_date=2019-07-22">55</a>
</td>
</tr>
</tbody>
<tfoot>
<tr>
<th class='bottom_left_corner bottom_right_corner' colspan='17'>
<em>Move the mouse over the price for inclusions, occupancy and minimum stay</em>
</th>
</tr>
</tfoot>
</table>

<!--<table>-->
    <!--<tr>-->
        <!--<th class='date_nav top_left_corner'>-->
            <!--<ul class='back'>-->
                <!--<li>-->
                    <!--<a class="week" id="back_1_week" data-date="23 Jun 2019"-->
                       <!--href="/properties/resielbalatadirect?currency=USD&amp;locale=en&amp;start_date=2019-06-23"><i-->
                            <!--class='fa fa-backward'></i>-->
                        <!--Week-->
                    <!--</a></li>-->
                <!--<li>-->
                    <!--<a class="day" id="back_1_day" data-date="23 Jun 2019"-->
                       <!--href="/properties/resielbalatadirect?currency=USD&amp;locale=en&amp;start_date=2019-06-23"><i-->
                            <!--class='fa fa-caret-left'></i>-->
                        <!--Day-->
                    <!--</a></li>-->
            <!--</ul>-->

        <!--</th>-->
        <!--<th class='date_nav date_from_nav'>-->
            <!--<div class='date_from'>-->
                <!--<label for="start_date_display">Date from</label>-->
                <!--<input type="text" name="start_date_display" id="start_date_display"-->
                       <!--value="23 Jun 2019" class="calendar"/>-->
                <!--<input type="hidden" name="start_date" id="start_date" value="2019-06-23"/>-->
            <!--</div>-->
        <!--</th>-->
        <!--<th class='date_nav top_right_corner'>-->
            <!--<ul class='forward'>-->
                <!--<li>-->
                    <!--<a class="day" id="forward_1_day" data-date="24 Jun 2019"-->
                       <!--href="/properties/resielbalatadirect?currency=USD&amp;locale=en&amp;start_date=2019-06-24">Day-->
                        <!--<i class='fa fa-caret-right'></i>-->
                    <!--</a></li>-->
                <!--<li>-->
                    <!--<a class="week" id="forward_1_week" data-date="30 Jun 2019">-->
                    <!--</a></li>-->
            <!--</ul>-->

        <!--</th>-->
    <!--</tr>-->
<!--</table>-->
<!--</th>-->
<!--</tr>-->

<!--</thead>-->
<!--</table>-->
<!--<table cellspacing='0' class='rates' id='rates'>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th class='note' colspan='2'>Prices will be charged in United States Dollars</th>-->
        <!--<th class='rack_rate'></th>-->
        <!--{% for day in days %}-->
        <!--<th class='date end weekend'>-->
            <!--&lt;!&ndash;<span class='day_name'>{{day.day}}</span>&ndash;&gt;-->
            <!--<span class='day'>{{day.day}}</span>-->
            <!--<span class='month'>{{day.month}}</span>-->
            <!--<span class='year'>{{day.year}}</span>-->
        <!--</th>-->
        <!--{% endfor %}-->

    <!--</tr>-->
    <!--</thead>-->
<!--</table>-->
<!--</thead>-->
<!--</table>-->
<!--<table cellspacing='0' class='rates' id='rates'>-->
    <!--<tbody>-->
    <!--{% for room in roomTable %}-->
    <!--<tr>-->
        <!--&lt;!&ndash; Здесь я думаю использовать formset &ndash;&gt;-->
        <!--&lt;!&ndash; TODO здесь возникли сложности  &ndash;&gt;-->
        <!--<td class='room_name'>-->
            <!--<p>{{room.name}}</p>-->
            <!--<a rel=".photo_overlay[data-id=room_107199]" class="photos" href="#">Фото</a>-->
            <!--<a class="details" href="#room_107199">Детали</a>-->
        <!--</td>-->
        <!--<td class='book_now'>-->
            <!--<a class="book dynamic en"-->
               <!--href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-22"><span-->
                    <!--class='fa fa-chevron-circle-right'></span>-->
                <!--Бронь-->
            <!--</a></td>-->
        <!--<td class='rack_rate'>$</td>-->

        <!--<td class='rate start weekend' data-id='124780430'>-->
            <!--<a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-22">{{room.price}}</a>-->
        <!--</td>-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
    <!--<tfoot>-->
    <!--<tr>-->
        <!--<th class='bottom_left_corner bottom_right_corner' colspan='17'>-->
            <!--<em>Наведите указатель мыши на цену для включения, размещения и минимального пребывания</em>-->
        <!--</th>-->
    <!--</tr>-->
    <!--</tfoot>-->
<!--</table>-->