<table cellspacing='0' class='rates' id='rates'>
    <tbody>
    <tr>
        <!-- Здесь я думаю использовать formset -->
        <!-- TODO здесь возникли сложности  -->
        <td class='room_name'>
            <p>Habitación Economy Standard </p>
            <a rel=".photo_overlay[data-id=room_107199]" class="photos" href="#">Photos</a>
            <a class="details" href="#room_107199">Details</a>
        </td>
        <td class='book_now'>
            <a class="book dynamic en"
               href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-22"><span
                    class='fa fa-chevron-circle-right'></span>
                Book
            </a></td>
        <td class='rack_rate'>$</td>
        <td class='rate start weekend' data-id='124780430'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-22">30</a>
        </td>
        <td class='end rate weekend' data-id='124780431'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-23">30</a>
        </td>
        <td class='rate' data-id='124780432'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-24">30</a>
        </td>
        <td class='rate' data-id='124780433'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-25">30</a>
        </td>
        <td class='rate' data-id='124780434'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-26">30</a>
        </td>
        <td class='rate' data-id='124780435'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-27">30</a>
        </td>
        <td class='rate' data-id='124780436'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-28">30</a>
        </td>
        <td class='rate start weekend' data-id='124780437'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-29">30</a>
        </td>
        <td class='end rate weekend' data-id='124780438'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-06-30">30</a>
        </td>
        <td class='rate' data-id='124780439'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-01">30</a>
        </td>
        <td class='rate' data-id='124780440'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-02">30</a>
        </td>
        <td class='rate' data-id='124780441'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-03">30</a>
        </td>
        <td class='rate' data-id='124780442'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-04">30</a>
        </td>
        <td class='rate' data-id='124780443'>
            <a href="/reservations/resielbalatadirect/107199?locale=en&amp;start_date=2019-07-05">30</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th class='bottom_left_corner bottom_right_corner' colspan='17'>
            <em>Наведите указатель мыши на цену для включения, размещения и минимального пребывания</em>
        </th>
    </tr>
    </tfoot>
</table>