<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверка данных</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<center>
    Проверка данных
</center>

Таблица Data

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name Of Text</th>
      <th scope="col">Value Of Text</th>
    </tr>
  </thead>
  <tbody>
  {% for el in elementsInData %}
    <tr>
      <th scope="row">{{ el.id }}</th>
      <td>{{ el.nameOfText }}</td>
      <td>{{ el.valueOfText }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

Таблица DataImage

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name Of Image</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
  {% for el in elementsInDataImage %}
    <tr>
      <th scope="row">{{ el.id }}</th>
      <td>{{ el.nameOfImage }}</td>
      <td>{{ el.image }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<center><button class="btn btn-primary" type="submit"><a href="{% url 'main:previewPage' %}">Просмотреть готовую страницу</a></button>
</center>

</body>
</html>