<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .projectName {
            font-family:Arial, sans-serif;
            font-size:18px;
            text-align:center;
        }
        .alert{
            text-align:center;
            font-size:15px;
            font-family:Calibri, sans-serif;
        }

        a{
            text-decoration:none;
            text-align:center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="projectName">
        SuperHotel
    </div>

    <h3 class="alert">Страница не готова</h3>

    <p class="alert"><a href="{% url 'main:dataFromInputBooking' %}">На страницу бронирования</a></p>
</body>
</html>